<p id="notice"><%= notice %></p>

<p>
  <strong>Nota:</strong>
  <%= @avaliar.nota %>
</p>

<p>
  <strong>Comunicacao:</strong>
  <%= @avaliar.comunicacao %>
</p>

<p>
  <strong>Colaboracao:</strong>
  <%= @avaliar.colaboracao %>
</p>

<p>
  <strong>Construcao:</strong>
  <%= @avaliar.construcao %>
</p>

<p>
  <strong>Pcritico:</strong>
  <%= @avaliar.pcritico %>
</p>

<p>
  <strong>Compromisso:</strong>
  <%= @avaliar.compromisso %>
</p>

<p>
  <strong>Criatividade:</strong>
  <%= @avaliar.criatividade %>
</p>

<p>
  <strong>User:</strong>
  <%= @avaliar.user %>
</p>

<%= link_to 'Edit', edit_avaliar_path(@avaliar) %> |
<%= link_to 'Back', avaliars_path %>
