   
  <%= form_for([@task, @task.materialdidaticos.build]) do |f| %>
     <div class="panel-heading">
        <h4>Material Didatico</h4>
      </div>
      <div class="panel-body">
      
          <div class="form-group">
            <%= f.label :descricao %>
            <%= f.text_area :descricao,autofocus: true, id: :materialdidatico_descricao,class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">https://</span>
            <%= f.text_field :link, id: :materialdidatico_link, class: 'form-control' %>
            </div>
          </div>
    
            
          <div class="form-group">
              <%= f.submit "Confirmar", class: 'btn btn-primary' %>
          </div>
      <% end %>





