<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @materialdidatico.descricao %>
</p>

<p>
  <strong>Link:</strong>
  <%= @materialdidatico.link %>
</p>

<p>
  <strong>Task:</strong>
  <%= @materialdidatico.task %>
</p>

<%= link_to 'Edit', edit_materialdidatico_path(@materialdidatico) %> |
<%= link_to 'Back', materialdidaticos_path %>
