<% if policy(current_user).professor? %>
    <div class="container fundo-vermelho margin-bottom-1cm">
      <div class="row">
           <h1> </h1>
        <div class="form-group">
          <div class = "col-md-1 letra-branca"><H5><strong>Titulo: </strong> </H5></div>
          <div class = "col-md-6 letra-branca">  <%= f.text_field :nome, class: 'form-control' %> </div>
          <div class = "col-md-1 letra-branca"><H5><strong>Avaliativa: </strong> </H5></div>
          <div class = "col-md-2 letra-branca"><H5> <%= f.check_box :avaliativa %></H5> </div>
        </div>  
      </div>
      
       <div class="row">
        <div class="form-group letra-branca">
          <div class = "col-md-1 letra-branca"><H5><strong>Objetivo: </strong> </H5></div>
          <div class = "col-md-6 letra-branca">  <%= f.text_area :descricao, class: 'form-control' %> </div>
          <div class = "col-md-1 letra-branca"><H5> <strong> Entrega: </strong> </H5></div>
          <div class = "col-md-4 letra-verde"> <H5><%= f.date_select(:entrega,:start_year => 2017,:order => [:day, :month, :year],:use_month_names => ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro','Dezembro'])%></H5> </div>
        </div>  
      </div>
      
      
      <div class="row">
        <div class="form-group">
          <h3 class="page-header letra-branca margin-left-10 margin-right-10">Habilidades</h3>
          <%= f.fields_for :habilidades do |f| %>
            <%=render 'habilidade_fields', f:f%>
          <%end%>
       </div>
      </div> 
      
      <div class="row">
        <div class="form-group letra-branca margin-left-10 margin-right-10">
          <%= link_to_add_puclets "Adicionar Habilidade", f, :habilidades, 'add_habilidade'%>
        </div>  
      </div>
      
      
      <div class="row">
        <div class="form-group">
          <h3 class="page-header letra-branca margin-left-10 margin-right-10">Puclets</h3>
          <%= f.fields_for :puclets do |f| %>
            <%=render 'puclet_fields', f:f%>
          <%end%>
       </div>
      </div> 
      
      <div class="row">
        <div class="form-group letra-branca margin-left-10 margin-right-10">
          <%= link_to_add_puclets "Adicionar Puclet", f, :puclets, 'add_puclets'%>
        </div>  
      </div>
      
      
      <div class="row">
        <div class="form-group">
          <h3 class="page-header letra-branca margin-left-10 margin-right-10">Material Didatico</h3>
          <%= f.fields_for :materialDidatico do |f| %>
            <%=render 'materialDidatico_fields', f:f%>
          <%end%>
       </div>
      </div> 
      
      <div class="row">
        <div class="form-group letra-branca margin-left-10 margin-right-10">
          <%= link_to_add_puclets "Adicionar Material Didatico", f, :materialDidatico, 'add_material_didatico'%>
        </div>  
      </div>
    </div>
<%end%>



