<% if policy(current_user).professor? %>
<body>
 <div id="wrapper ">
  <%= render partial: "users/sessions/partial_index" %>
   <div id="page-wrapper ">
    <div class="container-fluid margin-right-30 margin-left-30">
      <div class ="fundo-verde-2 ">  
      
       <h1 class="page-header letra-branca  margin-left-05  margin-right-05"> Lista de Tarefas </h1>
        <div class="panel-body margin-left-15">
          <div class="row list-group-item fundo-verde-2">
            <div class = "col-md-1 letra-branca"><h3>ID</h3></div>
            <div class = "col-md-1 letra-branca"><h3>Status</h3></div>
            <div class = "col-md-5 letra-branca"><h3>Nome</h3></div>
            <div class = "col-md-2 letra-branca"><h3>Data </h3></div>
          </div>
          
          <% @tasks.each do |task| %>
          <div class="row list-group-item fundo-verde-2">
            <div class = "col-md-1 letra-branca"><h3><%= task.id %></h3></div>
            <div class = "col-md-1 letra-branca"><h3><%= task.status %></h3></div>
            <div class = "col-md-5 letra-branca"><h3><%= task.nome %></h3></div>
            <div class = "col-md-2 letra-branca"><h3><%= task.abertura.strftime("%d/%m/%Y") %></h3></div>
            <div class = "col-md-3 letra-branca">
             <h3>
             <%= link_to 'Exibir', task,{:style=>'color:#FFFFFF;', :class => "css_class margin-right-05"} %>  
             <%= link_to 'Editar', edit_task_path(task),{:style=>'color:#FFFFFF;', :class => "css_class margin-right-05"} %> 
             <%= link_to 'Excluir', task, method: :delete, data: { confirm: 'você tem certeza?' }, :style=> 'color:#FFFFFF;', :class => 'css_class  margin-right-05' %> 
             </h3>
            </div>
          </div>
          <%end%>
         
          <div class="row">
            <div class = col-md-12><h2><%= link_to 'Criar Tarefa', new_task_path,{:style=>'color:#FFFFFF;', :class => "css_class"} %></h2></div>
          </div>   
           
          
         </div>
       </div>
      </div>  
     </div> 
    </div>    
</body> 
<%end%>



