<body>
<% if policy(current_user).professor? %>
   <%= render partial: "users/sessions/partial_index" %>
  <div class="container">
      <div class="panel panel-default ">
        <div class="container ">
          <div class="col-md-11 col-md-offset-1">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <H2 align = "center"> <strong>Tarefa Número:</strong> <%= @task.id %> </H2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <H4><strong> Nome: </strong> <%= @task.nome %> </H4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <H4><strong> Objetivo: </strong>  <%= @task.descricao %> </H4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <H4><strong> Abertura: </strong> <%= @task.abertura %> </H4>
                </div>
                <div class="3">
                  <H4><strong> Ativa: </strong> <%=  @task.status %> </H4>
                </div>
              </div>
              <div id= "todo_items_wrapper" class="panel panel-default">
                <div class="row">
                  <div class="col-md-12">
                    <%= render @task.materialDidatico %>
                    <%= render @task.subtasks %>
                  </div>
                </div>
              </div>
              <div id "form" class="form-group">
                <%= link_to 'Edit', edit_task_path(@task) %>
                <%= link_to 'Back', tasks_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</body>
