<div class="container ">
  <div class="col-md-5 col-md-offset-3">
    <div class="panel panel-default devise-bs ">
     <p id="notice"><%= notice %></p>
      <div class="panel-heading">
        <h4>Cadastrar</h4>
      </div>
      <div class="panel-body">
        
          <div class="form-group">
             <p> <strong>Id:</strong>
                 <%= @task.id %>
            </p>
          </div>
        
          <div class="form-group">
             <p> <strong>Nome:</strong>
                 <%= @task.nome %>
            </p>
          </div>
          
          <div class="form-group">
             <p> <strong>Descrição:</strong>
                 <%= @task.descricao %>
            </p>
          </div>
          
          <div class="form-group">
             <p> <strong>Status:</strong>
                 <%= @task.status %>
            </p>
          </div>
          
          <div id= "todo_items_wrapper">
            <%= render @task.subtasks %>
              <div id "form" class="form-group">
                  <%= render "subtasks/form" %>
              </div>
          </div>
          
          <%= link_to 'Edit', edit_task_path(@task) %> |
          <%= link_to 'Back', tasks_path %>
          
          
        
      </div>
    
    </div>
  </div>
</div>





