<body>
<div id="wrapper ">
  <%= render partial: "users/sessions/partial_index" %>
   <div id="page-wrapper ">
    <div class="container-fluid margin-right-30 margin-left-30">
      <div class ="fundo-verde-2 ">  
      
       <h1 class="page-header letra-branca  margin-left-05  margin-right-05"> TAREFAS ABERTAS </h1>
        <div class="panel-body margin-left-15">
          <div class="row list-group-item fundo-verde-claro">
           <% @tasks.each do |task| %>
            <%= link_to "resolver_task?task_id=#{task.id}", class: "list-group-item" do %>
             <div class="letra-verde">
               <h5 class="glyphicon glyphicon-tasks "><strong> <%= task.nome %> </strong> </h5>
             </div>
            <%end%>
           <%end%>
          </div>
         </div> 
         
       <h1 class="page-header letra-branca  margin-left-05  margin-right-05"> AVALIE OS OUTROS ALUNOS </h1>
       <div class="panel-body margin-left-15">
        <div class="list-group">
         <% @answers.each do |answers| %>
          
          <div class="row list-group-item fundo-verde-claro">
           <%= link_to answers.link , target: :_blank do %>
             <div class="col-md-5 letra-verde">
               <h5 class="glyphicon glyphicon-thumbs-up "><strong> <%= answers.subtask.task.nome%> </strong> <small> <%=answers.subtask.nome%> </small> </h5>
             </div>
           
             <div class="col-md-3 letra-verde">
              <h5 class="glyphicon glyphicon-thumbs-up"> <span class =" badge pull-right"><%= answers.like %> </span></h5>
              <h5 class="glyphicon glyphicon-thumbs-down"> <span class =" badge pull-right"><%= answers.dislike %> </span> </h5>
              <h5 class="glyphicon glyphicon-alert"> <span class =" badge pull-right"><%= answers.report %> </span> </h5>
             </div>
             
               <div class="col-md-3">
                 <%= link_to "Report", report_answer_url(id: answers.id), method: :post, class: "btn btn-primary pull-right"%>
                 <% if !@likes.exists?({answer_id: answers.id}) %>
                 <%= link_to "Disike", dislike_answer_url(id: answers.id), method: :post, class: "btn btn-danger pull-right"%>
                 <%= link_to "Like", like_answer_url(id: answers.id), method: :post, class: "btn btn-success pull-right"%>
                 <%end%>
               </div>
             
           <%end%>
          </div>
          <%end%>
         </div>
        </div>  
       </div>  <!-- fundo verde-->   
     </div>    
    </div>   
   </div>   
</body> 






