<body>
 <div id="wrapper">
    <%= render partial: "users/sessions/partial_index" %>
    <% @current_task.each do |task| %>
      <div class="container">
          <div class="col-md-10">
            <div class="panel fundo-verde">

              <div class="panel-heading letra-branca">
                <H2 align = "center"> <strong>Tarefa Número: </strong> <%= task.id %> </H2>
              </div>

              <div class="panel-body">
                <div class="panel fundo-vermelho">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12 letra-branca">
                        <H4><strong> Nome: </strong> <%= task.nome %> </H4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 letra-branca">
                        <H4><strong> Objetivo: </strong>  <%= task.descricao %> </H4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-9 letra-branca">
                        <H4><strong> Abertura: </strong> <%= task.abertura.strftime("%d/%m/%Y") %> </H4>
                      </div>
                      <div class="col-md-3 letra-branca">
                        <H4><strong> Ativa: </strong> <%=  task.status %> </H4>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel fundo-verde-2">
                  <div class="panel-heading letra-branca">
                    <H3 align = "center "> <strong>Materiais Didaticos</strong> </H3>
                  </div>
                  <div class="panel-body">
                    <% task.materialDidatico.each do |material| %>
                     <div class="panel fundo-vermelho">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-12 letra-branca">
                             <H4><strong> Titulo:  </strong> <%= material.titulo %> </H4>
                             <H4><strong> Link:  </strong> <%= material.url %> </H4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%end%>
                  </div>
                </div>

                <% task.subtasks.each do |subtask| %>
                <div i class="panel fundo-verde-2">
                  <div class="panel-heading letra-branca">
                    <H3 align = "center"><strong> Sub Tarefa : </strong>   <%= subtask.nome%> </H3>
                  </div>
                  <div class="panel fundo-vermelho">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12 letra-branca">
                          <H4><strong> Descrição: </strong>   <%= subtask.descricao%> </H4>
                        </div>
                      </div>

                    <div class="row">
                      <div class="col-md-12 letra-branca">
                        <H4><strong> Data Entrega: </strong>   <%= subtask.entrega.strftime("%d/%m/%Y") %> </H4>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-12 letra-branca">
                        <strong> Puclet:    </strong> 
                        <% subtask.puclets.each do |puclet| %>
                          <span class="label label-default margin-left-05"><%= puclet.nome%> </span> 
                        <% end %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 letra-branca">
                        <strong> Habilidades:   </strong>
                        <% subtask.habilidades.each do |habilidade| %>
                        <span class="label label-default margin-left-05"><%= habilidade.nome%> </span> 
                        <% end %>
                      </div>
                    </div>
                    
                    
                     <div class="row">
                      <div class="col-md-12 letra-branca">
                        <strong>  Minha Resposta:   </strong>
                         <% @resps.each do |f|%>
                          <%if f.subtask_id == subtask.id%>
                            <span class="label label-default margin-left-05"><%= f.link %> </span> 
                          <% end %>
                        <%end%>  
                      </div>
                    </div>

                   <!-- aqui tem que incluir o link para newAnswers exibindo o campo link -->
                    <%= form_for @resp do |f|%>
                      <%= f.label "Nova resposta: ", class: "letra-branca" %>
                      <%= f.text_field :link %>
                      <%= f.hidden_field :subtask_id, value: subtask.id%>
                      <%= f.hidden_field :user_id, value: current_user.id%>
                      <%= f.submit%>
                    <%end%>
                    
                  </div>
                </div>
                <% end %>
              </div>
             </div>  
            </div>
          </div>
        </div>
      <% end %>
  </div>
</body>
