<p id="notice"><%= notice %></p>

<p>
  <strong>Posicao:</strong>
  <%= @nivel.posicao %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @nivel.descricao %>
</p>

<%= link_to 'Edit', edit_nivel_path(@nivel) %> |
<%= link_to 'Back', nivels_path %>
