<p id="notice"><%= notice %></p>

<p>
  <strong>Subtask:</strong>
  <%= @answer.subtask_id %>
</p>

<p>
  <strong>Link:</strong>
  <%= @answer.link %>
</p>

<p>
  <strong>Like:</strong>
  <%= @answer.like %>
</p>

<p>
  <strong>Dislike:</strong>
  <%= @answer.dislike %>
</p>

<p>
  <strong>Report:</strong>
  <%= @answer.report %>
</p>

<p>
  <strong>User:</strong>
  <%= @answer.user %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
