<% if policy(current_user).professor? %>
<body>
 <div id="wrapper ">
  <%= render partial: "users/sessions/partial_index" %>
   <div id="page-wrapper ">
    <div class="container-fluid margin-right-30 margin-left-30">
      <div class ="fundo-verde-2 ">  
       <h1 class="page-header letra-branca  margin-left-05  margin-right-05"> Tarefas para correção </h1>
        <div class="panel-body margin-left-15">
        <div class="list-group">
         <% @answers.each do |answers| %>
          
          <div class="row list-group-item fundo-verde-claro">
           <%= link_to answers.link , target: :_blank do %>
             <div class="col-md-4 letra-verde">
                 <span class="glyphicon glyphicon-thumbs-up letra-vermelha"><span class= "letra-verde"> <%= answers.subtask.task.nome%> </span></span> 
                 <p class = "small letra-vermelha-2"> <%=answers.subtask.nome%> </p>          
             </div>
           
             <div class="col-md-3 letra-verde">
              <h5 class="glyphicon glyphicon-thumbs-up like-avaliacao"> <span class =" label label-success pull-right"><%= answers.like %> </span></h5>
              <h5 class="glyphicon glyphicon-thumbs-down like-avaliacao"> <span class =" label label-danger pull-right "><%= answers.dislike %> </span> </h5>
              <h5 class="glyphicon glyphicon-alert  like-avaliacao "> <span class =" label label-primary pull-right"><%= answers.report %> </span> </h5>
             </div>
             
             <%end%> 
              <div class = "col-md-2 ">  
               <div class = "like-avaliacao"><%= select_tag 'niveis', options_for_select(@niveis.collect{ |u| [ u.posicao] }), prompt: "Select something", class: "select-avaliacao" %> </div>
              </div>
               
              <div class = "col-md-2 " > 
               <div class = "like-avaliacao pull-left"> <%= text_area_tag "descricao", nil ,class: "observacao-avaliacao"%> </div>
              </div>
              
              <!-- tem que corrigir passar o nivel selecionado -->
              <div class = "col-md-1"> 
                <div class = "like-avaliacao pull-left"><%= link_to "Corrigir", nivel_answer_url(id: answers.id, nivel: 1), method: :post, class: "btn btn-success pull-right btn-avaliacao"%></div> 
              </div>
              
            </div>
           <%end%>
          </div>
         </div>
       </div>
      </div>  
     </div> 
    </div>    
</body> 
<%end%>
