<div class="panel panel-default">
  <div class="panel-heading">
    <H5 align = "center"><strong> SubTarefa </strong>  <%= subtask.nome %>  </H5>
  </div>
  <div class="row">
    <div class="col-md-12">
      <small><strong> Objetivo: </strong>  <%= subtask.descricao %> </small>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <small><strong> Data de entrega: </strong> <%= subtask.entrega %>  </small>
    </div>
    <div class="col-md-6">
      <small><strong> Avaliativa: </strong>  <%= subtask.avaliativa %> </small>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <small><strong> Objetivo: </strong>  <%= subtask.descricao %> </small>
      <%= render subtask.puclets%>
      <%= render subtask.materialDidatico%>
    </div>
  </div>
</div>
