<body>
 <div id="wrapper">
  <% if policy(@user).edit? %> 
    <%= render partial: "professores/partial_index" %>
  <%else%>
    <%= render partial: "alunos/partial_index" %>
  <%end%>

    <div class="container-fluid">
      <div class="col-md-12">
       <div class="panel panel-default">
          <div class="panel-heading">
            <H2 align = "center"> <strong>Editar meus dados</strong> </H2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
          </div>
          
          <div class="panel-body">
            <div class="container-fluid">
              <div class="row">
                <div class="form-group">
                 <div class = col-md-2><H5> <strong> Matricula: </strong> </H5></div>
                 <div class = col-md-3><H5> <%= f.label current_user.matricula , id: :matricula %></H5> </div>
                 </div>
              </div>  
              
              <div class="row">
                <div class="form-group">
                 <div class = col-md-2><H5> <strong> Nome: </strong> </H5></div>
                 <div class = col-md-3><H5> <%= f.label current_user.name, id: :name%> </H5> </div>
                </div>  
              </div>  
              
              <div class="row">
                <div class="form-group">
                 <div class = col-md-2><H5> <strong> Email: </strong> </H5></div>
                 <div class = col-md-5> <%= f.email_field :email, id: :email, autofocus: true,  class:'form-control'%> </div>
                </div>  
                 <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
              </div>  
              
              <div class="row">
                <div class="form-group">
                 <div class = col-md-2><H5> <strong> Nova senha: </strong> </H5></div>
                 <div class = col-md-5> <%= f.password_field :password, id: :password, autocomplete: "off",  class:'form-control'%> </div>
                 <div class = col-md-5>
                    <i>(Deixe em branco caso não queira alterar)</i>
                    <% if @minimum_password_length %><br />
                      <em><%= @minimum_password_length %> é o minimo de caracteres</em>
                    <% end %>
                    </div>
                </div>  
              </div>
              
              <div class="row">
                <div class="form-group">
                 <div class = col-md-2><H5> <strong> Confirmar senha: </strong></H5></div>
                 <div class = col-md-5> <%= f.password_field :password_confirmation , id: :password_confirmation , autocomplete: "off",  class:'form-control'%> </div>
                </div>  
              </div>  
              
              <div class="row">
                <div class="form-group">
                 <div class = col-md-2><H5> <strong> Senha atual: </strong></H5></div>
                 <div class = col-md-5> <%= f.password_field :current_password , id: :current_password , autocomplete: "off",  class:'form-control'%> </div>
                 <div class = col-md-5> <i>(Necessário para confirmar as alterações)</i> </div> 
                
                </div>  
              </div>  
                   
              <div class="row">
                <div class="actions  col-md-6">
                 <%= f.submit "Update", class: 'btn btn-primary' %>
                 <%= link_to 'Voltar', :back %>
                </div>
              </div>         
            <% end %>
            </div>
          </div>
         </div>
        </div>
      </div>  
  </div>
</body>

